
html{
  background-image: linear-gradient(to left, white 0%, Lightblue 100%);
  }


  h1 {
  color: blue;
  }
  h2 {
  color: blue;
    }

article {
    clear: left;
}
article p::first-letter {
    font-size: 4em;
    font-weight: bold;
    font-style: italic;
}
img {
    float: left;
    margin-left: 30px;
}
    
article img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
  }

  body {
    font-size: 100%;
    width: 95%;
    background-color: white;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;

    
}

article {
  border-left: 1px dotted blue;
  height: 100px;
  clear: left;
  width: 75%;
  float: left;
  column-count: 3;
  column-gap: 2em;
  margin-left: 2em;
}
aside{
  
  width: 20%;
  border-style: solid;
  float: right;
  padding: 0.1em 1em 1em;
  background-color: #ffebc6;
  }


  ol {
    display: block;
    list-style-type: upper-roman;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }
  ul {
    display: block;
    list-style-type: square;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }


#nav_menu ul { list-style-type: none; }
#nav_menu ul li { float: left; }
#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;     
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white; }
#nav_menu ul li a.lastitem { border-right: none; }	
#nav_menu ul li a.current { color: yellow; }


header {
 
  border-bottom: 2px solid blue;
}
footer {
  clear: both;
  text-align: center;
  border-top: 2px solid blue;
}